@charset "UTF-8";
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .row + .row {
    padding-top: 50px; }

[class^="col"] {
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
  min-height: 1px; }

.col-12 {
  width: 100%;
  padding: 0 15px; }

.col-11 {
  width: 91.66667%;
  padding: 0 15px; }

.col-10 {
  width: 83.33333%;
  padding: 0 15px; }

.col-9 {
  width: 75%;
  padding: 0 15px; }

.col-8 {
  width: 66.66667%;
  padding: 0 15px; }

.col-7 {
  width: 58.33333%;
  padding: 0 15px; }

.col-6 {
  width: 50%;
  padding: 0 15px; }

.col-5 {
  width: 41.66667%;
  padding: 0 15px; }

.col-4 {
  width: 33.33333%;
  padding: 0 15px; }

.col-3 {
  width: 25%;
  padding: 0 15px; }

.col-2 {
  width: 16.66667%;
  padding: 0 15px; }

.col-1 {
  width: 8.33333%;
  padding: 0 15px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-transform: uppercase; }

a,
button {
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -webkit-transition-property: color, background-color, opacity;
  -o-transition-property: color, background-color, opacity;
  transition-property: color, background-color, opacity; }

button,
.button {
  cursor: pointer; }

.header {
  padding: 65px 15px;
  max-height: 155px; }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.main_logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo {
  font-size: 2.1666rem;
  padding-bottom: 1px; }

.logo-sm {
  font-size: 0.75rem;
  letter-spacing: 0.9rem;
  font-weight: normal; }

.red {
  color: #e24545; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu__item {
    font-size: 0.875rem;
    padding-bottom: 8px; }
  .menu__item + .menu__item {
    margin-left: 20px; }
  .menu__link {
    color: #444444;
    text-transform: uppercase;
    font-weight: bold; }
    .menu__link:hover, .menu__link:focus {
      color: #e24545; }

.fa-angle-down {
  margin-left: 5px; }

.menu__link,
.logo {
  position: relative; }

.menu__link:after,
.logo:after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  width: 100%;
  height: 2px;
  display: inline-block;
  background-color: #e24545;
  -webkit-transition: height 0.5s, -webkit-transform 1.5s;
  transition: height 0.5s, -webkit-transform 1.5s;
  -o-transition: height 0.5s, transform 1.5s;
  transition: height 0.5s, transform 1.5s;
  transition: height 0.5s, transform 1.5s, -webkit-transform 1.5s;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0, 1.12), cubic-bezier(0.42, 0, 0, 1.12);
  -o-transition-timing-function: cubic-bezier(0.42, 0, 0, 1.12), cubic-bezier(0.42, 0, 0, 1.12);
  transition-timing-function: cubic-bezier(0.42, 0, 0, 1.12), cubic-bezier(0.42, 0, 0, 1.12); }

.logo:after {
  bottom: -1px; }

.menu__link:after {
  bottom: -8px; }

.menu__item,
.logo {
  overflow: hidden; }

.menu__link:hover:after,
.menu__link:focus:after,
.logo:hover:after,
.logo:focus:after {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  height: 2px; }

.shopping-bag {
  border: 2px solid #444;
  border-right: none;
  padding: 10px 25px 10px 20px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .shopping-bag__sum {
    padding-left: 8px; }
  .shopping-bag__qty {
    font-size: 11px;
    padding: 5px 8px;
    color: #fff;
    background-color: #444;
    border-radius: 50%;
    position: absolute;
    right: -12px; }
  .shopping-bag:hover {
    border-color: #e24545;
    color: #e24545; }
  .shopping-bag:before, .shopping-bag:after {
    content: "";
    background-color: currentColor;
    width: 3px;
    position: absolute;
    right: 0;
    height: 13%; }
  .shopping-bag:before {
    top: 0; }
  .shopping-bag:after {
    bottom: 0; }

.breadcrumbs {
  background-image: url(../images/path-bg.png);
  padding: 65px 0; }
  .breadcrumbs__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .breadcrumbs__title {
    font-size: 26px; }
  .breadcrumbs__path {
    font-size: 12px;
    font-weight: bolder;
    color: #888888; }
    .breadcrumbs__path__link:hover {
      color: #5d5d5d; }
    .breadcrumbs__path__item + .breadcrumbs__path__item {
      margin-left: 10px; }

.clear-list {
  padding: 50px 15px 40px 15px; }
  .clear-list__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .clear-list__text {
    font-size: 12px;
    font-weight: bolder;
    color: #444;
    padding: 10px 22px;
    border: solid 1.5px #444; }
  .clear-list__btn {
    font-size: 12px;
    font-weight: bolder;
    color: #444;
    padding: 10px 22px;
    margin-left: 10px;
    border: solid 1.5px #444;
    text-transform: uppercase;
    background-color: transparent; }
    .clear-list__btn:hover, .clear-list__btn:focus {
      border-color: #e24545;
      color: #e24545; }

.clear-disabled {
  background-color: #f8f2f2; }
  .clear-disabled:hover, .clear-disabled:focus {
    color: #444;
    border: solid 1.5px #444; }

.wishlist-items__container {
  width: 100%; }

.item-card {
  border: 1px solid #eee;
  overflow: hidden;
  display: inline-block;
  margin: 0 0 50px 0;
  width: 25%;
  max-width: 260px;
  padding: 0; }
  .item-card:not(:nth-child(4n)) {
    margin-right: 19px; }
  .item-card__main {
    padding: 30px 0 30px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
    .item-card__main:before {
      content: "";
      background-color: #e24545;
      height: 3px;
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 10px; }
    .item-card__main__img {
      max-height: 178px;
      width: auto; }
  .item-card__info {
    width: 100%; }
  .item-card__title {
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px; }
  .item-card__price {
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    color: #e24545;
    padding: 10px 0 30px 0; }
  .item-card__footer {
    font-size: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .item-card__footer__btn {
      background-color: transparent;
      font-size: 16px;
      line-height: 12px;
      border: 1px solid #eee;
      padding: 10px 12px; }
      .item-card__footer__btn:hover {
        background-color: #e24545;
        color: #fff; }
      .item-card__footer__btn .fa {
        pointer-events: none; }

.item-card__main:hover .item-card__main__hover {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%); }

.item-card__main__hover {
  position: absolute;
  top: 0;
  left: -15px;
  right: -15px;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.78);
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.33s ease-in-out;
  transition: -webkit-transform 0.33s ease-in-out;
  -o-transition: transform 0.33s ease-in-out;
  transition: transform 0.33s ease-in-out;
  transition: transform 0.33s ease-in-out, -webkit-transform 0.33s ease-in-out; }

.remove-btn {
  background-color: transparent;
  font-size: 12px;
  line-height: 12px;
  border: 2px solid #eee;
  padding: 10px 12px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  width: 70%; }
  .remove-btn:hover {
    background: #000; }

.pagination__container {
  padding: 30px 0 110px 0; }

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .pagination__list__page {
    border: 1px solid #ddd;
    color: #909090;
    font-weight: bolder;
    font-size: 12px;
    padding: 5px 10px; }
    .pagination__list__page:hover, .pagination__list__page:active {
      border-color: #444;
      color: #e24545; }
  .pagination__list__page + .pagination__list__page {
    margin-left: 10px; }

.store-features {
  padding: 95px 15px 105px 15px;
  border-top: 1px solid #eee; }
  .store-features__container {
    border: solid 2px #444;
    border-top: none;
    position: relative;
    padding: 35px 35px 50px 35px; }
    .store-features__container:before, .store-features__container:after {
      content: "";
      background-color: #444;
      height: 3px;
      position: absolute;
      top: 0;
      width: 2%; }
    .store-features__container:before {
      left: 0; }
    .store-features__container:after {
      right: 0; }
  .store-features__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.store-features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0; }
  .store-features__item__icon {
    font-size: 32px;
    margin-right: 10px; }
  .store-features__item__info__title {
    font-size: 16px;
    display: block;
    font-weight: bolder; }
  .store-features__item__info__txt {
    font-size: 12px;
    text-transform: capitalize;
    padding-bottom: 20px;
    position: relative; }
    .store-features__item__info__txt:after {
      content: "";
      background-color: #444;
      height: 1px;
      position: absolute;
      bottom: 0;
      width: 5px;
      left: 0; }

.footer__subscribe {
  background-color: #f6f6f6;
  font-size: 14px;
  padding: 75px 0;
  max-height: 175px;
  border-top: 4px solid #ddd; }
  .footer__subscribe__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__subscribe__txt {
    font-weight: bolder;
    color: #5c5c5c;
    padding-left: 0;
    margin-left: 0;
    width: 35.33333%; }
  .footer__subscribe__social {
    padding-right: 0;
    margin-right: 0; }

.footer__subscribe__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #cccccc;
  padding: 15px 20px; }
  .footer__subscribe__email__input {
    width: 80%;
    font-size: 11px;
    border: none;
    background-color: #f6f6f6;
    text-transform: uppercase;
    height: 100%; }
  .footer__subscribe__email__btn {
    border: none;
    background-color: transparent; }
    .footer__subscribe__email__btn:hover {
      color: #e24545; }

.red-border {
  border: 1px solid #e24545; }

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .social__list__item {
    border: 1px solid #cccccc; }
  .social__list__item + .social__list__item {
    border-left: none; }
  .social__list__item__link {
    padding: 15px 20px;
    display: inline-block; }
    .social__list__item__link:hover {
      background-color: #e24545;
      color: #fff; }

.footer__copyright {
  background-color: #e6e6e6;
  padding: 42px 0;
  max-height: 92px;
  color: #959595;
  font-size: 11px;
  font-weight: bolder; }
  .footer__copyright__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__copyright__txt__link {
    color: #444; }
    .footer__copyright__txt__link:hover {
      color: #e24545; }

.cards__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .cards__list__item + .cards__list__item {
    margin-left: 10px; }

/*# sourceMappingURL=app.css.map */